$fa-font-path: "~font-awesome/fonts";
@import "~font-awesome/scss/font-awesome";

html, body {
    background-color: #eeeeee;
    font-family: verdana;
    font-size: 10pt;
}

body.login-page {

    text-align: center;

    .login-panel {
        border: 1px solid #aaaaaa;
        padding: 10px;
        background-color: #dddddd;
        display: inline-block;
        width: 300px;
    }

}

body.app-page {

    div.header {
        padding: 10px;
        overflow: hidden;
        position: relative;

        .header-left {
            i { font-size: 30px; }
            h1 { display: inline; }
            color: #006699;
            float: left;
        }

        .header-right { float: right; }
    }

    div.menu {
        background-color: #ccc;
        border: 1px solid #777;

        ul {
            margin: 0;
            padding: 0;
        }

        li {
            display: inline-block;
            width: 150px;
            text-align: center;
            border-right: 1px solid #777;

            a {
                display: inline-block;
                padding: 10px 0 10px 0;
                width: 100%;
                color: blue;
                text-decoration: none;
            }
        }

        li.active {
            font-weight: bold;
            background-color: lightblue;
        }

        li:hover {
            background-color: #eeeeee;
        }
    }

    div.widget {
        float: left;
        width: 250px;
        height: 250px;
        padding: 10px;
        margin: 10px 0 0 10px;
        box-shadow: 0 0 3px #aaaaaa;
        background-color: lightgoldenrodyellow;
    }

    div.story-tile {
        background-color: lightskyblue;   
        
        .right{
            float:right;
        }
        
        .left{
            float:left;
        }
    }
}

div.popup {
    position: fixed; 
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    background-color: rgba(0,0,0, 0.5);

    div.popup_inner {
        position: absolute;
        left: 25%;
        right: 25%;
        top: 25%;
        bottom: 25%;
        margin: auto;
        background: white;
      }
  }
  