$fa-font-path: "~font-awesome/fonts";
@import "~font-awesome/scss/font-awesome";

html, body {
    background-color: #eeeeee;
    font-family: verdana;
    font-size: 10pt;
}

body.login-page {

    text-align: center;

    .login-panel {
        border: 1px solid #aaaaaa;
        padding: 10px;
        background-color: #dddddd;
        display: inline-block;
        width: 300px;
    }

}

body.app-page {

    div.page-container {
        position: relative;
        overflow: hidden;
        padding: 10px;
    }

    div.header {
        padding: 10px;
        overflow: hidden;
        position: relative;

        .header-left {
            i { font-size: 30px; }
            h1 { display: inline; }
            color: #006699;
            float: left;
        }

        .header-right { float: right; }
    }

    div.menu {
        background-color: #ddddea;
        padding: 5px;
        border: 1px solid #aaaaaa;

        li {
            width: 150px;
            text-align: center;
            margin: 5px;
        }
    }

    div.widget {
        float: left;
        width: 250px;
        height: 250px;
        padding: 10px;
        margin: 10px 10px 0 0;
        box-shadow: 0 0 3px #aaaaaa;
        background-color: lightgoldenrodyellow;

        .right{
            float:right;
        }
        
        .left{
            float:left;
        }
    }

    div.feature-tile {
        background-color: lightgoldenrodyellow;
        height: 90px;
        cursor: pointer;

        .story-count {
            text-align: center;
            padding: 5px;
        }
    }

    div.sprint-tile {
        background-color: lightgreen;   
        height: 90px;
        cursor: pointer;

        .story-count {
            text-align: center;
            padding: 5px;
        }
    }

    div.story-tile {
        background-color: lightskyblue;   
        cursor: pointer;
    }

    ul.nav.nav-tabs {
        li {
            width: 200px;
            text-align: center;
        }
    }

    div.tab-container {
        padding: 10px;
    }
}

div.popup {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    background-color: rgba(0,0,0, 0.5);

    div.popup_inner {
        text-align: center;
        border: 1px solid #aaaaaa;
        position: fixed;
        left: 35%;
        right: 30%;
        top: 25%;
        bottom: 40%;
        margin: auto;
        background: #dddddd;
      }
  }

  #desc {
   width:475px;
   height: 100px;
  }  